Repository getsentry/relay: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, rustfmt

flake8:
  name: flake8
  entry: .venv/bin/flake8
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system
  require_serial: true

rustfmt:
  name: format rust code
  language: system
  entry: rustfmt --edition=2024

fix(py): Remove py/ from pyproject and sync inexact (#5319)
  .github/workflows/ci.yml
  devenv/sync.py
  pyproject.toml
  uv.lock
Due: flake8, mypy

fix(tracemetrics): Improve logging (#5318)
  relay-server/src/managed/envelope.rs
  relay-server/src/processing/trace_metrics/mod.rs
Due: rustfmt

ref: move imports
  relay-server/src/processing/trace_metrics/store.rs
Due: rustfmt

feat(tracemetrics): Allow sample rate attribute (#5317)
  CHANGELOG.md
  Cargo.lock
  relay-conventions/src/consts.rs
  relay-server/Cargo.toml
  relay-server/src/processing/trace_metrics/store.rs
  tests/integration/test_trace_metrics.py
Due: flake8, mypy, rustfmt

wip: finalize_event
  relay-server/src/processing/events.rs
Due: rustfmt

wip
  relay-server/src/processing/events.rs
  relay-server/src/processing/mod.rs
  relay-server/src/processing/transactions/mod.rs
Due: rustfmt

filter
  relay-server/src/processing/utils/event.rs
  relay-server/src/services/processor.rs
  relay-server/src/services/processor/event.rs
Due: rustfmt

reservoir
  relay-server/src/services/processor.rs
  relay-server/src/services/processor/event.rs
Due: rustfmt

reservoir
  relay-server/src/processing/utils/event.rs
Due: rustfmt

Revert "fix(py): Remove py/ from pyproject and sync inexact (#5319)"
  .github/workflows/ci.yml
  devenv/sync.py
  pyproject.toml
  uv.lock
Due: flake8, mypy

Revert "build(py): Remove py/pyproject.toml altogether (#5314)"
  py/pyproject.toml
  py/setup.py
Due: flake8, mypy

Revert "build(py): Revert dynamic version, ignore pyproject.toml instead (#5313)"
  py/pyproject.toml
  py/setup.py
Due: flake8, mypy

Revert "build(py): Use dynamic version (#5311)"
  py/.craft.yml
  py/CHANGELOG.md
  py/pyproject.toml
Due: none

Revert "build(makefile): Dont setup venv on every format and lint (#5289)"
  Makefile
Due: none

Revert "feat(dev): Add devenv, uv, pre-commit (take 2) (#5248)"
  .envrc
  .github/workflows/build_library.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Brewfile
  Makefile
  README.md
  devenv/config.ini
  devenv/sync.py
  py/pyproject.toml
  pyproject.toml
  relay-metrics/src/aggregator/cost.rs
  requirements-dev.txt
  scripts/git-archive-all
  scripts/git-precommit-hook
  setup.cfg
  uv.lock
Due: flake8, mypy, rustfmt

wip
  relay-server/src/processing/utils/dynamic_sampling.rs
  relay-server/src/processing/utils/event.rs
  relay-server/src/processing/utils/mod.rs
  relay-server/src/services/processor/dynamic_sampling.rs
Due: rustfmt

wip
  relay-server/src/services/processor.rs
  relay-server/src/services/processor/dynamic_sampling.rs
Due: rustfmt

fix: Ignore ffi modules in mypy
  pyproject.toml
Due: none

build(py): Revert `uv`, `devenv`, `pre-commit` (#5321)
  .envrc
  .github/workflows/build_library.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Brewfile
  Makefile
  README.md
  devenv/config.ini
  devenv/sync.py
  py/.craft.yml
  py/CHANGELOG.md
  pyproject.toml
  relay-metrics/src/aggregator/cost.rs
  requirements-dev.txt
  scripts/git-archive-all
  scripts/git-precommit-hook
  setup.cfg
  uv.lock
Due: flake8, mypy, rustfmt

ds
  relay-server/src/processing/utils/dynamic_sampling.rs
  relay-server/src/processing/utils/event.rs
  relay-server/src/services/processor.rs
  relay-server/src/services/processor/dynamic_sampling.rs
  relay-server/src/services/processor/span/processing.rs
  relay-server/src/testutils.rs
Due: rustfmt

cleanup comments
  relay-server/src/services/processor.rs
Due: rustfmt

Group logical expressions
  relay-server/src/services/processor.rs
Due: rustfmt

default features lint
  relay-server/src/services/processor.rs
Due: rustfmt

bump
  .github/workflows/build_library.yml
  .github/workflows/ci.yml
Due: none

fix: reject envelope
  relay-server/src/processing/utils/event.rs
  relay-server/src/services/processor.rs
Due: rustfmt

ignore
  py/setup.py
Due: flake8, mypy

fix requireNames
  py/.craft.yml
Due: none

bump sentry-kafka-schema
  Cargo.toml
Due: none

build(py): Upgrade python to 3.13 (#5323)
  .github/workflows/build_library.yml
  .github/workflows/ci.yml
  py/.craft.yml
  py/setup.py
Due: flake8, mypy

lock
  Cargo.lock
Due: none

Manually install setuptools
  .github/workflows/build_library.yml
Due: none

also for sdist
  .github/workflows/build_library.yml
Due: none

Apply suggestion from @jjbayer
  .github/workflows/build_library.yml
Due: none

ref(spanv2): No plans for reservoir sampling
  relay-server/src/processing/spans/dynamic_sampling.rs
Due: rustfmt

quick test fixes
  tests/integration/test_spans.py
  tests/integration/test_spans_standalone.py
  tests/integration/test_spansv2.py
  tests/integration/test_spansv2_otel.py
Due: flake8, mypy

build(py): Manually install setuptools (#5324)
  .github/workflows/build_library.yml
Due: none

ref(spanv2): No plans for reservoir sampling (#5325)
  relay-server/src/processing/spans/dynamic_sampling.rs
Due: rustfmt

release: 0.9.19
  Cargo.lock
  py/CHANGELOG.md
  relay-cabi/Cargo.toml
Due: none

update
  relay-filter/src/legacy_browsers.rs
Due: rustfmt

style(clippy): Apply 1.91 clippy beta fixes
  relay-event-normalization/src/normalize/span/description/sql/parser.rs
  relay-server/src/services/processor.rs
  tools/document-pii/src/main.rs
Due: rustfmt

Path conditions:
  flake8: any of: \.py$
  mypy: any of: \.py$
  rustfmt: any of: \.rs$
